<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="f_info">

    <div class="f_info-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f_info_brand">
        &copy; This is the Wanderlust footer
    </div>

    <div class="f_link">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Team</a>
    </div>
</div>

</footer>